{% extends "base.html" %}
{% load i18n %}
{% load render_bundle from webpack_loader %}

{% block meta_title %}{% trans "Home" %}{% endblock %}
{% block title %}{% trans "Home" %}{% endblock %}

{% block breadcrumb_menu %}
    <li class="active">{% trans "Home" %}</li>
{% endblock %}

{% block extra_js %}
    {{ block.super }}
    {% render_bundle 'vendors' %}
{% endblock %}

{% block main %}
    <div class="home-main-content">
        <div id="HomeGallery" style="min-height: 500px;"></div>
        {% render_bundle 'HomeGallery' %}

        <div class="row" style="margin-bottom: 2%;">
            <div class="col-sm-12">
                <div class="text-center">
                    <a class="btn btn-default btn-pool" href="/lavori/">{% trans "Other Works" %}</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
