{% extends "base.html" %}
{% load mezzanine_tags keyword_tags %}
{% load render_bundle from webpack_loader %}

{% block meta_title %}{{ page.meta_title }}{% endblock %}

{% block meta_keywords %}{% metablock %}
    {% keywords_for page as keywords %}
    {% for keyword in keywords %}
        {% if not forloop.first %}, {% endif %}
        {{ keyword }}
    {% endfor %}
{% endmetablock %}{% endblock %}

{% block meta_description %}{% metablock %}
    {{ page.description }}
{% endmetablock %}{% endblock %}

{% block title %}
    {% editable page.title %}{{ page.title }}{% endeditable %}
{% endblock %}

{% block extra_js %}
    {{ block.super }}
    {% render_bundle 'vendors' %}
{% endblock %}

{% block main %}
    <div class="projects-main-content">
        <div id="ProjectsGallery"></div>
        {% render_bundle 'ProjectsGallery' %}
    </div>
{% endblock %}
